<div class="portfolio-item">
    <div class="portfolio-link portfolio-tile">
        <img class="portfolio-img img-fluid" src="assets/images/featured/{{item.image}}" onerror="this.src='assets/images/img-not-available.png'">
        <div class="overlay">
            <div class="overlay-text">
                <b>{{item.title}}</b>
            </div>
        </div>
    </div>
</div>
