<div>
    <img class="badge-container rounded-circle img-fluid d-block mx-auto" src="assets/images/officers/{{officer.image}}" onerror="this.src='assets/images/profile.png'">
    <h3 class="badge-text">
        {{officer.name}}
        <br>
        <small>{{officer.position}}</small>
    </h3>
</div>
